@import "../../global.scss";

.a {
  display: flex;
  align-items: center;

  .a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    @include mobile {
      display: none;
    }

    .a-card.bg {
      position: absolute;
      top: 50px;
      left: 50px;
      background-color: $mainColor;
      box-shadow: 3px 3px 5px rgba(80, 78, 78, 0.5);
    }

    .a-card {
      width: 60%;
      height: 70vh;
      border-radius: 30px;
      position: relative;
      overflow: hidden;
      box-shadow: 3px 3px 5px rgba(80, 78, 78, 0.5);
    }

    .a-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .a-right {
    flex: 1.5;
    height: 80%;
    display: flex;
    flex-direction: column;

    @include mobile {
      align-items: center;
    }

    .a-title {
      font-weight: 400;
      font-size: 50px;
      @include mobile {
        text-align: center;
      }
    }

    .a-sub {
      margin: 30px 0px;
      font-weight: 400;
      font-size: 25px;
      @include mobile {
        text-align: center;
      }
    }

    .a-desc {
      margin-right: 30%;
      font-weight: 300;
      font-size: 25px;
      @include mobile {
        margin: 10px;
        text-align: center;
      }
    }
  }
}
