@import "../../global.scss";

.a {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    align-items: center;
  }

  .aboutContainer {
    height: 320px;
    h1 {
      font-weight: 400;
      font-size: 50px;
      text-align: center;
      margin: 50px 0px 0px;

      @include mobile {
        font-size: 40px;
      }
    }

    .a-sub {
      font-weight: 400;
      font-size: 25px;
      margin: 15px 0px 15px;
      text-align: center;

      @include mobile {
        font-size: 18px;
      }
    }

    .a-desc {
      font-weight: 300;
      font-size: 25px;
      margin: 10px 20%;
      text-align: center;

      @include mobile {
        margin: 10px;
        font-size: 18px;
      }
    }
  }

  .techContainer {
    height: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: 400;
      font-size: 25px;
      margin: 0px 0px 25px;
    }

    .badgeContainer {
      width: 700px;
      height: 400px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      // border: 1px dotted black;

      .badge {
        width: 100px;
        height: 100px;
        margin: 5px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
          height: 70px;
          width: 70px;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 80%;
            height: 90%;
            object-fit: scale-down;
          }
        }
        .name {
          h3 {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
