@import "../../global.scss";

.a {
  display: flex;
  align-items: center;

  .a-container {
    flex: 1.5;
    height: 80%;
    display: flex;
    flex-direction: column;

    @include mobile {
      align-items: center;
    }

    .a-title {
      font-weight: 400;
      font-size: 50px;
      text-align: center;

      @include mobile {
        font-size: 40px;
      }
    }

    .a-sub {
      margin: 20px 0px;
      font-weight: 400;
      font-size: 30px;
      text-align: center;

      @include mobile {
        font-size: 18px;
      }
    }

    .a-desc {
      font-weight: 300;
      font-size: 25px;
      margin: 0px 20%;
      text-align: center;

      @include mobile {
        margin: 10px;
        font-size: 18px;
      }
    }
  }
}
