@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 70%;
    }
  }

  .right {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @include mobile {
      flex: 2.5;
    }

    h2 {
      font-size: 30px;
      @include mobile {
        font-size: 20px;
      }
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      @include mobile {
        justify-content: flex-start;
        width: 100%;
        height: 90%;
      }

      input {
        width: 360px;
        height: 30px;
        font-size: 18px;

        @include mobile {
          font-size: 14px;
          width: 200px;
          height: 20px;
          margin: 5px;
        }
      }

      textarea {
        width: 360px;
        height: 450px;
        font-size: 18px;

        @include mobile {
          font-size: 14px;
          width: 200px;
          height: 170px;
          margin: 5px;
        }
      }

      button {
        width: 200px;
        height: 30px;
        color: white;
        background-color: $mainColor;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: $mainColor;
        @include mobile {
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }

    .contactContainer {
      position: absolute;
      bottom: 2.5%;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      @include mobile {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }

      .itemContainer {
        .icon {
          font-size: 18px;
          margin-right: 5px;

          @include mobile {
            font-size: 15px;
          }
        }

        span {
          font-size: 15px;
          font-weight: 500;

          @include mobile {
            font-size: 12px;
          }
        }
      }

      @include mobile {
        flex: 1.5;
      }
    }
  }
}
