@import "../../global.scss";

.intro {
  display: flex;
  background-color: white;
  box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5);

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .circle {
      width: 490px;
      height: 490px;
      background-color: $mainColor;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 3px 3px 5px rgba(80, 78, 78, 0.5);

      @include mobile {
        width: 245px;
        height: 245px;
      }

      .imgContainer {
        width: 440px;
        height: 440px;
        background-color: $mainColor;
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        float: right;
        @include mobile {
          align-items: flex-end;
          width: 220px;
          height: 220px;
        }

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include mobile {
      align-items: flex-start;
    }

    .wrapper {
      position: relative;
      padding: 50px;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 5%;

      @include mobile {
        align-items: center;
        justify-content: space-between;
        padding: 20px;
      }

      h1 {
        font-size: 55px;
        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
        @include mobile {
          font-size: 20px;
        }
      }
      h3 {
        font-size: 35px;
        @include mobile {
          font-size: 20px;
        }
        span {
          font-size: inherit;
          color: $mainColor;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }

      p {
        font-size: 30px;
        font-weight: 300;
        margin: 10px;
        @include mobile {
          font-size: 18px;
        }
      }
    }
  }
  a {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 10px;
    @include mobile {
      bottom: 10%;
    }

    img {
      width: 50px;
      animation: arrowBlink 1s infinite;

      @include mobile {
        width: 40px;
      }
    }

    @keyframes arrowBlink {
      100% {
        opacity: 0.2;
      }
    }
  }
}
