@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    display: flex;

    align-items: center;
    justify-content: center;

    .circle {
      width: 570px;
      height: 570px;
      background-color: royalblue;
      border-radius: 50%;
      border: 5px dotted white;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 290px;
        height: 290px;
        border: 3px dotted white;
      }

      .imgContainer {
        width: 550px;
        height: 550px;
        background-color: $mainColor;
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        float: right;
        @include mobile {
          align-items: flex-end;
          width: 270px;
          height: 270px;
        }

        img {
          height: 100%;
          @include mobile {
            height: 90%;
          }
        }
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include mobile {
      align-items: flex-start;
    }

    .wrapper {
      position: relative;
      padding: 50px;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      @include mobile {
        align-items: center;
        justify-content: space-between;
        padding: 20px;
      }

      h1 {
        font-size: 55px;
        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
        @include mobile {
          font-size: 20px;
        }
      }
      h3 {
        font-size: 35px;
        @include mobile {
          font-size: 20px;
        }
        span {
          font-size: inherit;
          color: royalblue;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }

      h4 {
        font-size: 30px;
        font-weight: 300;
        margin: 10px;
        @include mobile {
          font-size: 15px;
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 40%;
      @include mobile {
        left: 45%;
        bottom: 10%;
      }

      img {
        width: 40px;
        animation: arrowBlink 1s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0.2;
        }
      }
    }
  }
}
